DJANGO_SETTINGS_MODULE=config.settings.development
SECRET_KEY=change-me-to-a-long-random-string-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# Database
DB_NAME=pratcice_db
DB_USER=root
DB_PASSWORD=tech
DB_ROOT_PASSWORD=tech
DB_HOST=localhost
DB_PORT=3306
