# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.manifest
*.spec

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env

# Testing
.coverage
.tox/
htmlcov/
.pytest_cache/
coverage.xml
*.cover

# IDEs
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Docker
.docker/
